body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000;
    color: #fff;
    position: relative;
    min-height: 100vh;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 1px; /* Mengurangi padding */
}

header {
    background-color: #F00095;
    color: #fff;
    padding: 2px 5px;
    margin-bottom: -20px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000; /* Pastikan header berada di atas elemen lainnya */
    align-items: center;
    justify-content: flex-start; /* Konten header akan diatur ke kiri */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

header .logo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

header h1 {
    margin: -50px 0 0; /* Menggeser teks ke atas */
    display: inline-block;
    vertical-align: middle;
    font-size: 25px;
    
}


.data-section {
    background-color: black;
    padding: 10px 0;
    margin-top: 50px;
}

.data-section .container {
    max-width: 1000px;
    margin: 0 auto;
    text-align: left;
}

.data-section h2 {
    color: white;
    margin-bottom: 20px;
}

.data-section p {
    color: white;
    line-height: 1.6;
}

.overview-container {
    display: flex; /* Menggunakan flexbox */
    align-items: flex-start; /* Mengatur kontainer agar berada di sudut kiri */
    margin-top: 30px;
}

.big-chart {
    flex: 1; /* Menggunakan flex untuk memanfaatkan ruang yang tersedia */
    height: 400px;
    background-color: #F00095;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-left: 10px; /* Memberi jarak antara kontainer besar dan kecil */
    float: right; 
}

.small-containers {
    display: flex; /* Menggunakan flexbox */
    flex-direction: column; /* Menyusun kontainer kecil secara vertikal */
    gap: 32px; /* Jarak antara kontainer kecil */
    align-items: center; /* Pusatkan item secara horizontal */
}

.small-container {
    height: 110px; /* Tinggi kontainer kecil */
    width: 200px; /* Lebar kontainer kecil */
    background-color: #F00095;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex; /* Menggunakan flexbox */
    flex-direction: column; /* Menyusun item secara vertikal */
    justify-content: center; /* Pusatkan item secara vertikal */
    align-items: center; /* Pusatkan item secara horizontal */
    text-align: center; /* Menyelaraskan teks ke tengah */
    
}

.container-row {
    display: flex; /* Menyusun item dalam satu baris */
    align-items: center; /* Pusatkan item secara vertikal dalam baris */
    gap: 16px; /* Jarak antara ikon dan kontainer */
}

.icon {
    width: 50px; /* Lebar gambar */
    height: 50px; /* Tinggi gambar */
    object-fit: contain; /* Menjaga proporsi gambar */
    border-radius: 10px; /* Membulatkan sudut gambar agar sesuai dengan kontainer */
}



.chart-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin: 20px;
}

.chart {
    background-color: #444;
    height: 200px;
    border-radius: 5px;
}


.business-section {
    background-color: black;
    color: white; /* Mengatur warna teks menjadi putih */
    padding: 50px 0;
}

.business-section .container {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

.problem-solution {
    display: flex;
    justify-content: space-around;
}

.problem,
.solution {
    flex: 1;
    padding: 20px;
    background-color: #F00095;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 0 10px; /* Tambahkan margin agar container tidak bersentuhan */
}

.problem h2,
.solution h2 {
    color: white; /* Mengatur warna judul menjadi putih */
    margin-bottom: 20px;
}

.problem p,
.solution p {
    color: white; /* Mengatur warna teks paragraf menjadi putih */
    line-height: 1.6;
}

.about-team {
    background-color: #000;
    color: #fff;
    padding: 50px 0;
}

.about-team .container {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    
}

.about-team h2 {
    color: #F00095;
    margin-bottom: 30px;
}

.mentor-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.team-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    
}

.team-member {
    text-align: center;
    font-size: 15px;
    border: 2px solid #F00095; /* Menambahkan garis pink di sekitar kontainer tim */
    padding: 20px; /* Menambahkan sedikit padding untuk ruang pernapasan */
    border-radius: 20px; /* Melengkungkan ujung garis */   
    margin:10px; 
}

.team-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 0 auto 10px;
    object-fit: cover;
    box-shadow: 0 0 0 2px #F00095;
}

.team-description {
    margin-top: 30px;
    color: #fff;
}


footer {
    background-color: #F00095;
    color: #fff;
    text-align: center;
    padding: 2px 5px; 
    width: 100%;
    bottom: 0;
}


